@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/*#08FDD8*/

*{
    font-family: "San Francisco";
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #1d1d1d;
}

h1{
    color: #08FDD8;
    font-size: 56px;
    font-weight: bold;
    
}

h4{
    color: white;
    font-weight: lighter;
}

p{
    display: block;
    justify-content: left;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
    padding: 10px;
    width: 60%;
}

.sidebar{
    display: flex;
    align-items: center;
    position: fixed;
    width : 8.4%;
    height : 100%;
    /*z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    */
    background: #121212; 
}

.sidebar ul li {
    display:block; 
    text-align:center;
    position: relative; 
    margin:0 auto;
    padding: 15px;
    border-bottom: 1px solid #1d1d1d;
}

.sidebar ul li:first-child {
    border-top: 1px solid #1d1d1d;
}

.sidebar ul li a{
    color : #909096;
}

.sidebar ul li a:hover{
    font-weight: bold;
    color : #08FDD8;
}

.social ul {
    position: fixed;
    bottom: 20px;
    left: 0.8%;
}
.social ul li {
    display:inline; 
    text-align:center;
    position: relative; 
    margin:0 auto;
    padding: 4px;

}

.social ul li a{
    color : #909096;
}

.social ul li a:hover{
    color : #08FDD8;
}

.mainpage{
    text-align: left;
    color: white;
    position: relative;
    top: 40%;
    left: 10%;
    font-weight: 200;
    margin:0 auto;
}

.contactbtn{
    display: inline-block;
    padding: 0.6em 1.7em;
    border: 0.1em solid #08FDD8;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #1d1d1d;
    color: #08FDD8;
    text-align: center;
    transition: all 0.2s;
}

.contactbtn:hover{
    color: #1d1d1d;
    background-color: #08FDD8
}

.home{
    margin-bottom: 300px; 
}

.portfolio{
    margin-top: 300px;
    margin-bottom: 50px;
}

.projects{
    margin-top: 300px;
    margin-bottom: 50px;
}

.contact-me{
    margin-top: 300px;
    margin-bottom: 50px;
}

.form{
    width: 40%;
}

.small-input{
    background: #2b2b2b;
    color: #8d8d8d;
    border: none;
    padding: 15px;
    margin : 4px;
    font-size: 16px;
    width: 40%;
}

.medium-input{
    background: #2b2b2b;
    color: #8d8d8d;
    border: none;
    padding: 15px;
    margin: 4px;
    font-size: 16px;
    width: 40%;    
}

.large-input{
    width: 100%;
    background: #2b2b2b;
    color: #8d8d8d;
    border: none;
    padding: 15px;
    margin: 4px;
    font-size: 16px;
}

.msg-input{
    width: 40%;
    background: #2b2b2b;
    color: #8d8d8d;
    min-height: 120px;
    border: none;
    padding: 15px;
    margin: 4px;
    font-size: 16px;
}