@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/*#08FDD8*/

*{
    font-family: "San Francisco";
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #272727;
}

h1{
    color: #08FDD8;
    font-size: 42px;
    font-weight: bold;
}

h4{
    color: white;
    font-weight: lighter;
}

.sidebar{
    display: flex;
    align-items: center;
    position: fixed;
    width : 8.4%;
    height : 100%;
    background: #121212; 
}

.sidebar ul li {
    display:block; 
    text-align:center;
    position: relative; 
    margin:0 auto;
    padding: 15px;
    border-bottom: 1px solid #272727;
}

.sidebar ul li:first-child {
    border-top: 1px solid #272727;
}

.sidebar ul li a{
    color : grey;
}

.sidebar ul li a:hover{
    font-weight: bold;
    color : #08FDD8;
}

.social ul {
    position: fixed;
    bottom: 20px;
    left: 0.8%;
}
.social ul li {
    display:inline; 
    text-align:center;
    position: relative; 
    margin:0 auto;
    padding: 4px;

}

.social ul li a{
    color : grey;
}

.social ul li a:hover{
    color : #08FDD8;
}

.home-text{
    text-align: left;
    color: white;
    position: absolute;
    top: 40%;
    left: 10%;
    font-weight: 200;
    margin:0 auto;
}

.contactbtn{
    display: inline-block;
    padding: 0.6em 1.7em;
    border: 0.1em solid #08FDD8;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #272727;
    color: #BB86FC;
    text-align: center;
    transition: all 0.2s;
}

.contactbtn:hover{
    color: #272727;
    background-color: #08FDD8
}


.contact-me{
    margin-top: 300px;
    margin-bottom: 50px;
}

.small-input{
    background-color: darkgray;
}

.large-input{
    width: 100%;
    background-color: darkgray;
}