@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

*{
    font-family: "San Francisco";
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #272727;
}

.sidebar{
    display: flex;
    align-items: center;
    position: fixed;
    width : 8.3%;
    height : 100%;
    background: #121212; 
}

.sidebar ul li {
    display:block; 
    text-align:center;
    position: relative; 
    margin:0 auto;
    padding: 15px;
    border-bottom: 1px solid #272727;
}

.sidebar ul li:first-child {
    border-top: 1px solid #272727;
}

.sidebar ul li a{
    color : grey;
}

.sidebar ul li a:hover{
    font-weight: bold;
    color : #BB86FC;
}

.social ul li{
    display: inline;
    border-top: none;
}

.social ul li {
    display:inline; 
    text-align:center;
    position: relative; 
    margin:0 auto;
    padding: 15px;
}